<section class="section is-medium has-background-light">
  <div class="container content">
    <h1 class="title">All Users</h1>
    <% User.all.each do |u| %>
      <div class="columns">
        <div class="column is-narrow">
          <h3 class="title is-marginless">
            <a href="/users/<%= u.slug %>">
              <%= u.username %></a>
              <% if u.board_games.size > 0 %>
            <span class="tag ">
              <% u.board_games.size > 1 ? @g = "games" : @g = "game" %>
              (<%= u.board_games.size.to_s + " " + @g %> in collection)
            </span>
            <% end %>
          </h3>
          <% unless bg.bgg_url.empty? %>
            <a href="<%= bg.bgg_url %>" class="has-text-grey is-size-7" target="_blank">
              <span class="icon"><i class="fas fa-external-link-alt"></i></span><span>View more info on BGG</span>
            </a>
          <% end %>
        </div>
      </div>
    <% end %>
    <% unless @user.nil? %>
      <div class="container">
        <a href="/board-games/new" class="button is-success"><span class="icon">
            <i class="fas fa-plus-circle"></i>
          </span>
          <span>Add new game</span>
        </a>
      </div>
    <% end %>
  </div>
</section>
