<section class="section is-medium has-background-light">
  <div class="container content">
    <div class="columns is-centered">
      <div class="column is-6">
        <h1 class="title">Signup</h1>
        <% if @error == "invalid" %>
          <article class="message is-danger">
            <div class="message-header">
              <p>There was a problem verifying the BGG Url you submitted</p>
            </div>
            <div class="message-body">
              <p>BGG Url is optional. Feel free to leave it off if you're having issues with it.</p>
            </div>
          </article>
        <% elsif @error == "exists" %>
          <article class="message is-warning">
            <div class="message-header">
              <p>That game name is taken.</p>
            </div>
          </article>
        <% end %>
<form action="/board-games/new" method="post">
          <div class="field">
  <label class="label" for="name">Name</label>
            <div class="control">
  <input class="input" type="text" name="name" placeholder="Game Name" id="name">
            </div>
          </div>
          <div class="field">
            <label class="label">BGG Url</label>
            <div class="control">
              <input class="input" type="text" name="bgg_url" id="bgg_url" placeholder="https://boardgamegeek.com/boardgames/...">
            </div>
          </div>
          <div class="columns">
            <div class="column is-6">
              <a href="/" class="button is-fullwidth">
                <span class="icon"><i class="fas fa-arrow-left"></i></span><span>Back</span>
              </a>
            </div>
            <div class="column is-6">
              <button type="submit" class="button is-fullwidth is-link">
                <span class="icon"><i class="fas fa-plus-circle"></i></span><span>Add Game</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
