<section class="hero is-fullheight is-light">
  <div class="hero-body">
    <div class="container content">
      <h1 class="title">Welcome</h1>
      <a href="/login"><button class="button">
          <span class="icon"><i class="fas fa-sign-in-alt"></i></span><span>Login</span>
        </button></a>
      <a href="/signup">
        <button class="button is-primary">
          <span class="icon"><i class="fas fa-user-plus"></i></span><span>Signup</span>
        </button>
      </a>
    </div>
  </div>
</section>
