<section class="section is-medium has-background-light">
  <div class="container content">
    <div class="columns is-centered">
      <div class="column is-4">
        <h1 class="title">Login</h1>
        <form action="/login" method="post">
          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input class="input" type="text" name="username" id="username">
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" name="password" id="password">
            </div>
          </div>
          <div class="columns">
            <div class="column is-6">
              <a href="/" class="button is-fullwidth">
                <span class="icon"><i class="fas fa-arrow-left"></i></span><span>Back</span>
              </a>
            </div>
            <div class="column is-6">
              <button type="submit" class="button is-fullwidth is-link">
                <span class="icon"><i class="fas fa-sign-in-alt"></i></span><span>Login</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
