<section class="hero is-fullheight is-light">
  <div class="hero-body">
    <div class="container content">
      <div class="columns">
        <div class="column is-4 is-offset-4">
          <h1 class="title">Sign Up</h1>
          <form action="/signup" method="post">
            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input class="input" type="text" name="username" id="username">
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" type="text" name="password" id="password">
              </div>
            </div>
            <div class="columns">
              <div class="column is-6">
                <a href="/" class="button is-fullwidth">
                  <span class="icon"><i class="fas fa-arrow-left"></i></span><span>Back</span>
                </a>
              </div>
              <div class="column is-6">
                <button type="submit" class="button is-fullwidth is-link">
                  <span class="icon"><i class="fas fa-user-plus"></i></span><span>Sign Up</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
