<section class="section is-medium has-background-light">
  <div class="container content">
    <div class="columns is-centered">
      <div class="column is-4">
        <h1 class="title">Signup</h1>
        <% if @error == "invalid" %>
          <article class="message is-danger">
            <div class="message-header">
              <p>There was a problem signing into your account. Please try again.</p>
            </div>
            <div class="message-body">
              <p>
                Usernames and Passwords must be between 3-12 characters long, and may only contain letters, numbers, hyphens, and underscores.
              </p>
            </div>
          </article>
        <% elsif @error == "exists" %>
          <article class="message is-warning">
            <div class="message-header">
              <p>That username is taken.</p>
            </div>
          </article>
        <% end %>
        <form action="/signup" method="post">
          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input class="input" type="text" name="username" id="username">
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" name="password" id="password">
            </div>
          </div>
          <div class="columns">
            <div class="column is-6">
              <a href="/" class="button is-fullwidth">
                <span class="icon"><i class="fas fa-arrow-left"></i></span><span>Back</span>
              </a>
            </div>
            <div class="column is-6">
              <button type="submit" class="button is-fullwidth is-link">
                <span class="icon"><i class="fas fa-user-plus"></i></span><span>Signup</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
